<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.codingtech.dao.mapper.MaterialsInfoMapper" >
  <resultMap id="BaseResultMap" type="net.codingtech.pojo.MaterialsInfo" >
    <constructor >
      <idArg column="material_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="material_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="material_pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="material_status" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    material_id, material_name, category_id, material_pic, material_status, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from materials_info
    where material_id = #{materialId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from materials_info
    where material_id = #{materialId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.codingtech.pojo.MaterialsInfo" >
    insert into materials_info (material_id, material_name, category_id, 
      material_pic, material_status, create_time, 
      update_time)
    values (#{materialId,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{materialPic,jdbcType=VARCHAR}, #{materialStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.codingtech.pojo.MaterialsInfo" >
    insert into materials_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="materialName != null" >
        material_name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="materialPic != null" >
        material_pic,
      </if>
      <if test="materialStatus != null" >
        material_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        #{materialId,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null" >
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="materialPic != null" >
        #{materialPic,jdbcType=VARCHAR},
      </if>
      <if test="materialStatus != null" >
        #{materialStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.codingtech.pojo.MaterialsInfo" >
    update materials_info
    <set >
      <if test="materialName != null" >
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="materialPic != null" >
        material_pic = #{materialPic,jdbcType=VARCHAR},
      </if>
      <if test="materialStatus != null" >
        material_status = #{materialStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where material_id = #{materialId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.codingtech.pojo.MaterialsInfo" >
    update materials_info
    set material_name = #{materialName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      material_pic = #{materialPic,jdbcType=VARCHAR},
      material_status = #{materialStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where material_id = #{materialId,jdbcType=VARCHAR}
  </update>
</mapper>